<!DOCTYPE html>
<html>

<head>
  <title>market</title>
  <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</head>

<body>
  <h1>오이마켓</h1>
  <% if (product) { %>
    <p><strong>판매자:</strong>
      <%= product.seller %>
    </p>

    <p><strong>가격 :</strong>
      <%= product.price %> 원
    </p>
    <p><strong>품명:</strong>
      <%= product.name %>
    </p>
    <button id="payButton">
      <%= product.price %> 결제요청
    </button>
    <div id="payment-widget"></div>
    <br/>
    <button id="payment-button">
      결제하기
    </button>
    
    <% } else { %>
      <p>No products found</p>
      <% } %>

        <script>
          // 결제 버튼 클릭 이벤트 처리
          const payButton = document.getElementById('payButton');
          payButton.addEventListener('click', () => {
            const clientKey = "<%= TOSS_CLIENT_KEY %>"; // 테스트용 클라이언트 키
            const customerKey = "<%= TOSS_CUSTOMER_KEY %>"; // 내 상점에서 고객을 구분하기 위해 발급한 고객의 고유 ID

            // 결제위젯 SDK 초기화
            const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS) // 비회원 결제
            const paymentMethodWidget = paymentWidget.renderPaymentMethods('#payment-widget',
              {
                value: "<%= product.price %>",
                currency: 'KRW',
                country: 'KR',
              },
              { variantKey: 'widgetA' }
            )
            const button = document.getElementById("payment-button");

            button.addEventListener("click", function () {
              paymentWidget.requestPayment({
                orderId: "asaaasdzaD",
                orderName: "<%= product.name %>",
                successUrl: window.location.origin + "/v1/success",
                failUrl: window.location.origin + "/v1/fail",
                customerEmail: 'yutmdwp0910@gmail.com',
              });
            });

            alert('결제 처리를 진행합니다.');
          });
        </script>
</body>

</html>